.sidebar-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    font-size: 14px;
    margin-left: 150px;
}

.footer-content {
    display: flex;
    justify-content: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
}
.social-icons{
    margin-left: 50px;
}
.social-icons a {
    color: #333; /* Couleur des icônes */
    margin: 0 5px; /* Espacement horizontal entre les icônes */
    ;
}

.social-icons a:hover {
    color: #007bff; /* Couleur des icônes au survol */
}
.footer-content p{
    margin-top: 20px;
}