.navbar {
    margin-bottom: 0; /* Supprimer la marge en bas du navbar */
}

.container {
    margin-top: 0px; /* Ajouter une marge en haut du container */
}


section{
    margin-top: -500px;
  }

  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .mb-5 {
    margin-bottom: 3rem !important;
  }
  
  .bg-white {
    background-color: #fff;
  }
  
  .rounded {
    border-radius: 10px;
  }
  