<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-sidebar-back></app-sidebar-back>
        <div class="layout-page">
            <app-navbar-back></app-navbar-back>

            <div class="button-container">
                <div class="button-row">
                  <button class="button" [routerLink]="'/listAnswer'">Answers</button>
                  <button class="button" [routerLink]="'/listQuestion'">Questions</button>
                  <button class="button" [routerLink]="'/listQuiz'">Quizzes</button>
                  <button class="button" [routerLink]="'/listNote'">Scores</button>
                </div>
               
              
              
              

</div>
</div>
</div>
<app-footer-back></app-footer-back>
  
