<!DOCTYPE html>
<html>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <app-sidebar-back></app-sidebar-back>
      <div class="layout-page">
        <app-navbar-back></app-navbar-back>
        
   
        <div class="container">
          <h2>Add Food</h2>
          <div class="form-container">
            <label for="fileInput" class="file-label">Select Excel File:</label>
            <input id="fileInput" type="file" (change)="onFileSelected($event)">
          </div>
        </div>
        
      </div>        
    </div>

      </div>
  
    <app-footer-back></app-footer-back>

</html>
