<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <app-sidebar-back></app-sidebar-back>
      <div class="layout-page">
        <app-navbar-back></app-navbar-back>
  
        <div class="list"> 
        <h2>List of Scores</h2>
        <div class="button-container">
            <button type="button" [routerLink]="['/addNote']" class="btn btn-success">
              View Statistics
            </button>
          </div>
        <table>
          <thead>
            <tr>
              <th>Note Value</th>
              <th>Note Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let note of notes">
              <td>{{ note.valueNote }}</td>
              <td>{{ note.descNote }}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteNote(note)">
                  <i class="fa fa-trash fa-lg"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        </div> 
      </div>
    </div>
  </div>
  <app-footer-back></app-footer-back>
