<div class="workout-management">
    <div class="search-add-bar">
        <mat-form-field apperance="fill">
            <mat-label>Search ...</mat-label>
            <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addWorkout()">Add Workout</button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef (click)="sortData('name','asc')">Name</th>
            <td mat-cell *matCellDef="let workout">{{workout.name}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef (click)="sortData('description','asc')">Description</th>
            <td mat-cell *matCellDef="let workout">{{workout.description}}</td>
        </ng-container>
        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef (click)="sortData('duration','asc')">Duration</th>
            <td mat-cell *matCellDef="let workout">{{workout.duration}}</td>
        </ng-container>
        <ng-container matColumnDef="targetGroup">
            <th mat-header-cell *matHeaderCellDef (click)="sortData('targetGroup','asc')">Target Group</th>
            <td mat-cell *matCellDef="let workout">{{workout.targetGroup}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef (click)="sortData('category','asc')">Category</th>
            <td mat-cell *matCellDef="let workout">{{workout.category}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
            <td mat-cell *matCellDef="let workout">
                <button mat-icon-button (click)="editWorkout(workout)" color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteWorkout(workout.id_workout)" color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="4" [pageSizeOptions]="[4, 8, 16]" showFirstLastButtons></mat-paginator>

</div>