<mat-card>
    <h3>Your profile Details</h3>
    <mat-card-content>
        <div class="bootstrao-wrapper">
            <div class="container">
                <div class="container text-center">

                    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.pngitem.com%2Fpimgs%2Fm%2F22-223968_default-profile-picture-circle-hd-png-download.png&tbnid=z416MJLH1h7wZM&vet=12ahUKEwi6u4yz7J6FAxUlV6QEHQwMD0cQMygTegQIARB7..i&imgrefurl=https%3A%2F%2Fwww.pngitem.com%2Fmiddle%2FixJxJh_default-profile-picture-circle-hd-png-download%2F&docid=NP1ZyVKEKTwXjM&w=860&h=900&q=default%20profile%20images&ved=2ahUKEwi6u4yz7J6FAxUlV6QEHQwMD0cQMygTegQIARB7"
                    alt=""
                    class="profile-image "
                    />
                   
                    <h1 class="mt20"> Mouadh Wahada</h1>

                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1"></div>

                    <table class="table text-center">
                        <tr>
                            <td>Username</td>
                         <td>{{user.Username}}</td>
                        </tr>
                        <tr>
                            <td>UserId</td>
                         <td>{{user.UserId}}</td>
                        </tr>
                        <tr *ngIf="user.Phone">
                            <td>Phone</td>
                         <td>{{user.Phone}}</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                         <td>{{user.authorties[0].authorty}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                         <td>{{user.enabled?"ACTIVE":"NOTACTIVE"}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <mat-card-actions>
            <button mat-raised-button color="primary">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>