<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-sm-6"> <button class="btn btn-warning btn-block mb-2" data-toggle="modal" data-target="#modal-left" data-toggle-class="modal-open-aside">Left</button>
                <div id="modal-left" class="modal fade" data-backdrop="true">
                    <div class="modal-dialog modal-left w-xl">
                        <div class="modal-content h-100 no-radius">
                            <div class="modal-header">
                                <div class="modal-title text-md">Modal right title</div> <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="p-4 text-center">
                                    <p>For what reason would it be advisable for me to think about business content?</p>
                                </div>
                            </div>
                            <div class="modal-footer"><button type="button" class="btn btn-light" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary" data-dismiss="modal">Save Details</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Votre contenu HTML ici -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
