/* food.component.css */

/* Annuler la marge par défaut du body */
body {
    margin: 0;
    padding: 0;
}

/* Style pour le wrapper principal */
.layout-wrapper {
    display: flex;
    flex-direction: column;
}

.layout-container {
    display: flex;
    flex-grow: 1; /* Permet au conteneur de s'étendre pour remplir l'espace disponible */
}

.layout-page {
    flex-grow: 1; /* Permet au contenu de remplir l'espace disponible */
}

.app-navbar-back {
    /* Styles pour positionner le composant navbar en haut de son conteneur parent */
    order: -1; /* Pour placer le composant navbar en premier dans l'ordre d'affichage */
    position: sticky;
    top: 0;
    z-index: 1000; /* Assure que le navbar reste au-dessus des autres éléments */
    background-color: #fff; /* Vous pouvez ajuster la couleur selon votre design */
    width: 100%; /* Assure que le navbar occupe toute la largeur */
}
.app-footer-back {
    /* Styles pour positionner le composant footer en bas de la page */
    position: absolute;
    bottom: 0;
}
/* Style pour le tableau */
table {
    width: 70%; /* Définissez la largeur maximale souhaitée */
    border-collapse: collapse;
    margin-left: 350px;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .app-footer-back {
    /* Styles pour positionner le composant footer en bas de la page */
    position: absolute;
    bottom: 0;
    
}
h2{
    margin-left: 250px;
}
/* Stylisation des boutons */


/* Lorsque le bouton est survolé */
#one{
    background-color: #007bff; /* Couleur de fond pour le bouton primaire */
    color: #fff; /* Couleur du texte */
    border: none; /* Supprime les bordures */
    padding: 10px 20px; /* Rembourrage intérieur */
    cursor: pointer; /* Curseur de souris */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease; 
margin:20px}
#two{
    margin:20px   
}
