<p>exercisedays works!</p>
<p>exercisedays works!</p>
<p>exercisedays works!</p>
<!-- exercise-days.component.html -->
<div class="exercise-day-container">
    <div *ngFor="let exerciseDay of exerciseDays" class="exercise-day-card">
      <h3>Day {{exerciseDay.dayNumber}} - {{exerciseDay.date | date}}</h3>
      <h4>Total duration: {{exerciseDay.totalDuration}} minutes</h4>
      
      <!-- Display exercises for this day -->
      <div class="exercises-container">
        <div *ngFor="let exercise of exerciseDay.exercises" class="exercise-card">
          <img *ngIf="exercise.image" [src]="getImageUrl(exercise.image)" alt="{{exercise.namexercise}}">
          <div class="exercise-content">
            <h3>{{exercise.namexercise}}</h3>
            <p>Sets: {{exercise.sets}}</p>
            <p>Reps: {{exercise.reps}}</p>
            <p>Rest: {{exercise.repo}} seconds</p>
            <p>Duration: {{exercise.duration}} minutes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  