.navbar {
    position: fixed;
    background-color: #f0f4f8; 
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Alignement à droite */
    align-items: center;
    margin-top: -10px; /* Valeur négative pour supprimer l'espace au-dessus */
    height: 60px;
    z-index: 999;
    transition: background-color 0.3s, box-shadow 0.3s; /* Transition de couleur de fond et d'ombre */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
   
}

.navbar:hover {
    background-color: #dfe6eb; /* Couleur de fond au survol */
    box-shadow: 0 2px 5px rgba(234, 4, 4, 0.1); /* Effet d'ombre au survol */
}
  
  /* Styles restants inchangés */
  .navbar-menu {
    display: flex;
    align-items: center;
    margin-right: 70px;
  }
  .menu {
    margin-right: 550px;
    display: flex; /* Utiliser flexbox pour aligner horizontalement */
    align-items: center; /* Aligner les éléments verticalement au centre */
  }
  
  .navbar-item {
    margin-right: 40px;
    margin-left: 10px;
    text-decoration: none;
    color: #666666; /* Couleur du texte en gris */
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .logout-button {
    border: none;
    color: #fff;
    padding: 10px 17px;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(to bottom, #b5f5b5, #4cec4c);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .navbar:hover {
    background-color: #F8F8FF; /* Couleur de fond au survol */
  }
  
  
  .navbar-item:hover {
   font-size: 18px;
   
  }
  
  .logout-button:hover {
    transform: scale(1.1); /* Agrandit la taille du bouton de logout au survol */
  }
  
  .navbar-item i {
    margin-right: 10px;
  }
  .search-container {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom,  #69ef69,#b5f5b5);
    border-radius: 15px; /* Bord arrondi */
    padding: 5px; /* Espacement intérieur */
}

.search-container input[type="text"] {
    flex: 1; /* Permet au champ de recherche de s'étendre pour remplir l'espace disponible */
    border: none;
    border-radius: 15px; /* Bord arrondi */
    background-color: #fff; /* Fond transparent */
    font-size: 14px; /* Taille de la police */
    padding: 5px; /* Espacement intérieur */
}

.search-container button {
    background: none;
    border: none;
    border-radius: 15px; /* Bord arrondi */
    cursor: pointer;
    padding: 5px 10px; /* Espacement intérieur */
    color: #fff; /* Couleur du texte */
    margin-left: 5px; /* Espacement entre le champ de recherche et le bouton */
}
.search-container input[type="text"]:focus {
    outline: none; /* Supprime la bordure de focus par défaut */
    border-color: transparent; /* Rend la bordure transparente */
}
.under-navbar {
    padding: 20px;
    text-align: center;
    background-color: #f0f4f8; /* Couleur de fond */
    margin-left: 150px;
    position: fixed;
    width: 100%;
   
}


.under-navbar h2 {
    font-size: 25px; /* Taille de la police pour le titre */
    color: #333; /* Couleur du texte pour le titre */
    font-family: 'Roboto', sans-serif; /* Police de caractères spéciale */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombre pour le texte */
    margin-bottom: 20px; /* Espacement en bas du titre */
}

.under-navbar p {
    font-size: 14px; /* Taille de la police pour le paragraphe */
    color: #555; /* Couleur du texte pour le paragraphe */
    font-family: 'Open Sans', sans-serif; /* Police de caractères spéciale */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombre pour le texte */
    margin-bottom: 30px; /* Espacement en bas du paragraphe */
}

.icon-container {
    display: flex;
    justify-content: center;
}

.icon-container i {
    font-size: 24px;
    margin: 0 10px;
    color: #ff6666; /* Couleur des icônes */
}
