<div class="navbar">
    <div class="navbar-menu">
        <div class="menu">
        <a href="#" class="navbar-item"><i class="fas fa-home"></i> Home</a>
        <a href="#" class="navbar-item"><i class="fas fa-envelope"></i> Contact</a>
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
    </div>
        <button class="logout-button"><i class="fas fa-sign-out-alt"></i> Log out</button>
    </div>
  </div>
  <div class="under-navbar">
    <div class="icon-container">
        <i class="fas fa-cogs"></i>
        <i class="fas fa-chart-line"></i>
        <i class="fas fa-tachometer-alt"></i>
    </div>
</div>
  