<div class="exercise-management">
    <div class="search-add-bar">
      <mat-form-field appearance="fill">
        <mat-label>Search...</mat-label>
        <input matInput (keyup)="applyFilter($event)">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addExercise()">Add Exercise</button>
    </div>
    

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Exercise Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef (click)="sortData('namexercise','asc')">Exercise Name</th>
        <td mat-cell *matCellDef="let exercise">{{ exercise.namexercise }}</td>
      </ng-container>

      <!-- Sets Column -->
      <ng-container matColumnDef="sets">
        <th mat-header-cell *matHeaderCellDef (click)="sortData('sets','asc')">Sets</th>
        <td mat-cell *matCellDef="let exercise">{{ exercise.sets }}</td>
      </ng-container>
      
      <!-- Reps Column -->
      <ng-container matColumnDef="reps">
        <th mat-header-cell *matHeaderCellDef (click)="sortData('reps','asc')" >Reps</th>
        <td mat-cell *matCellDef="let exercise">{{ exercise.reps }}</td>
      </ng-container>

      <!-- Duration Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef (click)="sortData('duration','asc')"  >Duration (minutes)</th>
        <td mat-cell *matCellDef="let exercise">{{ exercise.duration }}</td>
      </ng-container>
      <ng-container matColumnDef="repo">
        <th mat-header-cell *matHeaderCellDef  (click)="sortData('repo','asc')" >Rest Period</th>
        <td mat-cell *matCellDef="let exercise">{{ exercise.repo }}</td>
      </ng-container>
      
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef >Image</th>
        <td mat-cell *matCellDef="let exercise">
          <img *ngIf="exercise.image" [src]="getImageUrl(exercise.image)" alt="Exercise Image" width="100">
        </td>
      </ng-container>
      
      <!-- Exercise Day Column -->
        <ng-container matColumnDef="exerciseDay">
            <th mat-header-cell *matHeaderCellDef >Exercise Day</th>
            <td mat-cell *matCellDef="let exercise">
            Day {{ exercise.exerciseDay?.dayNumber }} - {{ exercise.exerciseDay?.date | date:'mediumDate' }}
            </td>
        </ng-container>
  

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let exercise">
          <button mat-icon-button (click)="editExercise(exercise.id_Exercice)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteExercise(exercise.id_Exercice)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="4" [pageSizeOptions]="[4, 8, 16]" showFirstLastButtons></mat-paginator>
</div>
