
<link href="/assets/FrontOfficeAssets/img/favicon.png" rel="icon">
<link href="/assets/FrontOfficeAssets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/assets/FrontOfficeAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/FrontOfficeAssets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/assets/FrontOfficeAssets/vendor/aos/aos.css" rel="stylesheet">
<link href="/assets/FrontOfficeAssets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/assets/FrontOfficeAssets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/assets/FrontOfficeAssets/css/main.css" rel="stylesheet">
<app-nav-bar-front></app-nav-bar-front>
<section id="about" class="about">
    <div class="container" >

      <div class="section-header">
        <h2>Our Nutrition help</h2>
        
      </div>

      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" style="background-image: url(/assets/FrontOfficeAssets/img/nutrition.jpg) ;"  >
         
        </div>
        <div class="col-lg-5 d-flex align-items-end"  data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
                Vitanova is your ultimate nutrition companion, offering a user-friendly platform to track your food intake, access personalized nutrition recommendations, and discover a wealth of healthy recipes. With its intuitive interface and comprehensive features, Vitanova makes it simple to stay on top of your dietary goals and make informed choices that support your overall well-being. Whether you're aiming to lose weight, build muscle, or simply eat healthier, Vitanova provides the tools and resources you need to succeed on your nutrition journey.
                <a href="/addnutritiongoal">
                    <button>add Your Nutritional Goal</button>
                  </a>
                  







            <div class="position-relative mt-4">
              <img src="/assets/FrontOfficeAssets/img/nut.jpg" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=zhnpopBvfNQ" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
<app-footer-front></app-footer-front>
        <script src="/assets/FrontOfficeAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/FrontOfficeAssets/vendor/aos\aos.js"></script>
        <script src="/assets/FrontOfficeAssets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="/assets/FrontOfficeAssets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="/assets/FrontOfficeAssets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="/assets/FrontOfficeAssets/vendor/php-email-form/validate.js"></script>
        
        <!-- Template Main JS File -->
        <script src="/assets/FrontOfficeAssets/js/main.js"></script>