<div class="container">
  <h2>Quiz Results</h2>
  <div *ngIf="quizResults.length > 0; else noResults">
    <table class="table">
      <thead>
        <tr>
          <th>Quiz Title</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of quizResults">
          <td>{{ result.title }}</td>
          <td>{{ result.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noResults>
    <p>No quiz results available.</p>
  </ng-template>
</div>
