<!DOCTYPE html>
<html>

<head>
  <title>List of Foods</title>
</head>

<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <app-sidebar-back></app-sidebar-back>
      <div class="layout-page">
        <app-navbar-back></app-navbar-back>

        <div class="list">
          <h2 style="text-align: center; margin-left: 250px;">List of Foods</h2>

          <!-- Champ de recherche -->
          <div class="search-field">
            <mat-form-field appearance="fill">
              <mat-label>Search</mat-label>
              <input matInput (input)="applyFilter($event)" placeholder="Search...">
            </mat-form-field>
          </div>

          <div class="data-table-food">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
              
                  <th mat-header-cell *matHeaderCellDef (click)="sort(column)">
                    {{ column }}
                    <mat-icon *ngIf="selectedColumn === column && isAscending">arrow_drop_up</mat-icon>
                    <mat-icon *ngIf="selectedColumn === column && !isAscending">arrow_drop_down</mat-icon>
                  </th>
             
                
                  <!-- Reste du code -->
              
                
                <td mat-cell *matCellDef="let food">
                  <ng-container *ngIf="column !== 'actions'; else actionsColumn">
                    {{ food[column] }}
                  </ng-container>
                  <ng-template #actionsColumn>
                    <button mat-icon-button *ngIf="column === 'actions'" [routerLink]="['/updateFood', food.idFood]">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="column === 'actions'" (click)="deleteFood(food)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-template>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- Pagination -->
            <mat-paginator [length]="dataSource.data.length"
                           [pageSizeOptions]="[3, 6, 10, 100]"
                           showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer-back></app-footer-back>
</body>

</html>




