<app-nav-bar-front></app-nav-bar-front>
<div class="background-image">
    <div class="content">
        <p class="notification-text">
            Prioritizing mental well-being is essential <br>for living a fulfilling and balanced life.
             
        </p>
        <div class="notification-bar">
            <button class="notification-button" (click)="showNotification()">
                <img src="/assets/notifi.png" alt="Image de notification" width="30px" height="30px">
            </button>
        </div>
    </div>
</div>
<app-footer-front></app-footer-front>