.card {
    width: 100%; /* Largeur de chaque carte */
    max-width: 600px; /* Largeur maximale de chaque carte (augmentée à 600px) */
    min-height: 200px; /* Hauteur minimale de chaque carte */
    margin: 10px auto; /* Marge autour de chaque carte (auto pour centrer horizontalement) */
    padding: 15px; /* Espacement interne de chaque carte */
    border: 1px solid #ccc; /* Bordure de chaque carte */
    border-radius: 8px; /* Coins arrondis de chaque carte */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre de chaque carte */
    background-color: #fff; /* Couleur de fond de chaque carte */
    transition: box-shadow 0.3s ease; /* Animation lors du survol de la carte */
    display: flex; /* Utilisation de flexbox pour aligner le contenu */
    flex-direction: column; /* Disposition du contenu en colonne */
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre plus prononcée lors du survol de la carte */
}

.card-container {
    display: grid; /* Utilisation de grid pour disposer les cartes */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Disposition automatique des colonnes avec une largeur minimale de 300px */
    gap: 20px; /* Espacement entre les cartes */
    justify-content: center; 
    margin-top: 100px;
    margin-left: auto; /* Mettre la marge gauche automatique */
    margin-right: auto; /* Mettre la marge droite automatique */
    max-width: 1200px; /* Largeur maximale de la carte container */
    
}

.card-title {
    font-size: 18px; /* Taille de la police du titre */
    font-weight: bold; /* Gras pour le titre */
    margin-bottom: 10px; /* Marge inférieure pour le titre */
}

.card-text {
    font-size: 16px; /* Taille de la police du texte */
    margin-bottom: 10px; /* Marge inférieure pour le texte */
    flex-grow: 1; /* Permet au texte de remplir l'espace disponible */
}

.card button {
    align-self: flex-end; /* Aligner les boutons à droite */
}


.card-body{
    align-items: center;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
  
  .button-container button {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

.btn-start-quiz,
.btn-preview-quiz {
    border: none;
    border-radius: 100px; 
    padding: 10px 18px; /* Réduire la taille des boutons */
    font-weight: 300; 
    transition: all 0.3s ease; 
    font-size: 12px; /* Réduire la taille de la police */
}

.btn-start-quiz {
    background-color: #a70000; 
    color: #fff; 
}

.btn-start-quiz:hover {
    background-color: #c80505; 
}

.btn-preview-quiz {
    background-color: #00008B; 
    color: #fff; 
}

.btn-preview-quiz:hover {
    background-color: #0909cb; 
}
.material-icons {
    
    font-size: 25px;
    margin-right: 5px;
}


/* Styles for the modal */
.modal {
    display: none; /* Par défaut, le modal est caché */
    position: fixed; /* Position fixe pour le modal */
    left: 0;
    top: 0;
    width: 100%; /* Couvre toute la largeur de l'écran */
    height: 100%; /* Couvre toute la hauteur de l'écran */
    overflow: auto; /* Permet le défilement lorsque le contenu est trop grand */
    background-color: rgba(0, 0, 0, 0.4); /* Couleur avec transparence */
    z-index: 1050; /* ou toute autre valeur que vous préférez */
  }
  
  /* Contenu du modal */
  .modal-content {
    background-color: #ffffff; /* Couleur de fond */
    border-radius: 20px; /* Coins arrondis */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ombre */
    width: 80%; /* Largeur du contenu du modal */
    max-width: 800px; /* Largeur maximale */
    margin: 100px auto; /* Centrer verticalement et horizontalement */
  }
  
  /* Styles for the modal header */
  .modal-header {
    background-color: #f0f0f0; /* Couleur de fond de l'en-tête */
    color: #333; /* Couleur du texte */
    border-bottom: 1px solid #ccc; /* Bordure inférieure */
    padding: 15px; /* Espacement intérieur */
    border-top-left-radius: 20px; /* Coins arrondis supérieurs */
    border-top-right-radius: 20px; /* Coins arrondis supérieurs */
  }
  
  /* Styles for le titre du modal */
  .modal-title {
    margin: 0; /* Supprimer la marge */
  }
  
  /* Styles for le bouton de fermeture */
  .close {
    font-size: 24px; /* Taille de police */
    font-weight: bold; /* Gras */
    color: #333; /* Couleur du texte */
    opacity: 0.5; /* Opacité */
  }
  
  .close:hover {
    opacity: 1; /* Opacité au survol */
  }
  .custom-close-button {
    position: absolute;
    top: 10px; /* Ajustez la position verticale selon vos besoins */
    right: 10px; /* Placez le bouton à droite du modal */
    border: none;
  }
  
  /* Styles for le corps du modal */
  .modal-body {
    padding: 20px; /* Espacement intérieur */
  }
  
  /* Styles for le pied de modal */
  .modal-footer {
    background-color: #f0f0f0; /* Couleur de fond */
    border-top: 1px solid #ccc; /* Bordure supérieure */
    border-bottom-left-radius: 20px; /* Coins arrondis inférieurs */
    border-bottom-right-radius: 20px; /* Coins arrondis inférieurs */
    padding: 15px; /* Espacement intérieur */
  }
  
  /* Styles for les boutons */
  .btnn {
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur */
    transition: background-color 0.3s ease; /* Transition en douceur */
  }
  
  .btn-primaryy {
    background-color: #3d99fd; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
  }
  
  .btn-primaryy:hover {
    background-color: #017cff; /* Couleur de fond au survol */
  }
  
  .btn-primaryyy {
    background-color: #f76d36; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
  }
  
  .btn-primaryyy:hover {
    background-color: #fe8555; /* Couleur de fond au survol */
  }
  
  .btn-successs {
    background-color: #28a745; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
  }
  
  .btn-successs:hover {
    background-color: #218838; /* Couleur de fond au survol */
  }
  
  
  
  
  
  
  #xofy{
    margin-top: 18px;
    margin-left: 25px;
    margin-bottom: 18px;
    margin-right: 25px;
  
  }
  #xofy strong {
    
    color: #46a988; /* Par exemple, vous pouvez changer la couleur */
  }
  
  .answer-container {
    display: flex;
    flex-direction: column;
  }
  
  .answer-box {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s; /* Ajout d'une transition pour une animation fluide */
  }
  
  .answer-box:hover {
    background-color: #f0f0f0;
  }
  
  .answer-box.selected {
    background-color: #7FFFD4;
  }
  
  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3rem;
    border-color: rgba(0, 0, 0, 0.1); /* Couleur de la bordure */
    border-top-color: #F08080; /* Couleur de la partie supérieure de la bordure */
    border-radius: 50%; /* Bordure arrondie pour créer un cercle */
    animation: spin 1s linear infinite; /* Animation de rotation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); } /* Début de l'animation */
    100% { transform: rotate(360deg); } /* Fin de l'animation */
  }
  .custom-modal-body {
    position: relative; /* Permet de positionner l'overlay par rapport à ce conteneur */
  }
  
  .result-container {
    background-color: #f8f9fa; /* Couleur de fond */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Espacement intérieur */
    text-align: center; /* Alignement du texte au centre */
  }
  
  .result-heading {
    font-size: 24px; /* Taille de la police pour le titre */
    margin-bottom: 10px; /* Marge inférieure pour séparer du texte suivant */
  }
  
  .result-text {
    font-size: 18px; /* Taille de la police pour le texte principal */
    margin-bottom: 20px; /* Marge inférieure pour séparer du texte suivant */
  }
  
  .topic {
    font-weight: bold; /* Texte en gras */
  }
  
  .result-score {
    color: #007bff; /* Couleur du score */
    font-weight: bold; /* Texte en gras */
  }
  
  .result-description {
    font-size: 16px; /* Taille de la police pour la description */
    margin-bottom: 20px; /* Marge inférieure pour séparer du bouton */
  }
  
  .retake-button {
    font-size: 16px; /* Taille de la police pour le bouton */
    padding: 10px 20px; /* Espacement intérieur du bouton */
    border-radius: 5px; /* Coins arrondis du bouton */
  }
  .starting-text {
    font-size: 1.0rem; /* Taille de la police */
    font-weight: bold; /* Gras */
    margin-bottom: 20px; /* Marge en bas pour l'espacement */
    animation: fadeAnimation 2s ease-in-out infinite; /* Animation d'opacité */
    text-align: center;
  }
  
  /* Animation d'opacité */
  @keyframes fadeAnimation {
    0% {
      opacity: 1; /* Opacité maximale */
    }
    50% {
      opacity: 0; /* Opacité minimale */
    }
    100% {
      opacity: 1; /* Opacité maximale */
    }
  }
  
  /* Styles pour le compte à rebours */
  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajustez la hauteur du conteneur selon vos besoins */
  }
  
  .countdown h1 {
    font-size: 3rem; /* Taille de la police */
    font-weight: bold; /* Gras */
    margin: 0 10px; /* Marge autour des chiffres */
    animation: colorChange 1.5s infinite alternate, sizeChange 2.5s infinite alternate; /* Animation de changement de couleur et de taille */
  }
  
  .countdown h1:last-child {
    margin-right: 0; /* Pas de marge à droite pour le dernier élément */
  }
  
  /* Animation de changement de couleur */
  @keyframes colorChange {
    0% { color: #ff0000; } /* Rouge */
    25% { color: #00FF7F; } /* Vert */
    50% { color: #00CED1; } /* Bleu */
    75% { color: #FF1493; } /* Magenta */
    100% { color: #ffff00; } /* Jaune */
  }
  
  /* Animation de changement de taille */
  @keyframes sizeChange {
    0%, 100% { font-size: 3rem; } /* Taille de la police à son état initial */
    50% { font-size: 4.5rem; } /* Taille de la police à son maximum */
  }
  
  /* Style spécifique pour le texte "Go" */
  .countdown h1.go {
    font-size: 2.5rem; /* Taille de la police */
    color: orange; /* Couleur du texte pour le texte "Go" */
  }
  
  .custom-search-container {
    background-color: #a70000; /* Fond rouge bordeaux */
    width: 100%; /* S'étend sur toute la largeur de la page */
    padding: 8px; /* Ajoute un peu de marge intérieure */
    box-sizing: border-box; /* Inclut le rembourrage dans la largeur totale */
    display: flex; /* Utilise la mise en page flexbox */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items:center; 
    height: 200px;
}

.search-input {
    width: 150px;
    padding: 8px;
    padding-right: 30px; 
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    outline: none;
    transition: box-shadow 0.3s ease;
    margin-top: 90px; 
}
.search-instruction {
    color: white; 
    font-size: 14px; 
    margin-top: 105px; 
    margin-right: 10px;
}
.pag-container{
    display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
 height: 200px;
}




.star-container {
    display: inline-block;
}

.star {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.star-icon {
    font-size: 24px; 
}

.mood-icons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.mood-icons mat-icon {
  width: 40px;
  height: 40px;
  font-size: 30px;
  cursor: pointer;
  transition: font-size 0.3s; 
}


.mood-icons .selected {
  color: green;
  font-size: 35px;
}

.mood-icons .selectedneutral {
  color: yellow; 
  font-size: 35px;
}

.mood-icons .selectedsad {
  color: red; 
  font-size: 35px;
}


