/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-center{
    text-align: center;
}
.m120{
    margin-left: 20px !important;
}
.m120{
    margin-right: 20px !important;
}
.m120{
    margin-top: 20px !important;
}
.m120{
    margin-bottom: 20px !important;
}