<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <app-sidebar-back></app-sidebar-back>
      <div class="layout-page">
        <app-navbar-back></app-navbar-back>
        <div class="form-container">
          <h2>Edit Note</h2>
          <form [formGroup]="updateNoteForm" (ngSubmit)="updateNote()">
            <div class="form-group">
              <label>Note Value:</label>
              <input type="number" formControlName="valueNote" class="form-control">
            </div>
            <div class="form-group">
              <label>Note Description:</label>
              <input type="text" formControlName="descNote" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Update</button>
          </form>
        </div>
      </div>
    </div>
</div>
  <app-footer-back></app-footer-back>
