 
.layout-wrapper {
    display: flex;
    flex-direction: column;
}

.layout-container {
    display: flex;
    flex-grow: 1; /* Permet au conteneur de s'étendre pour remplir l'espace disponible */
}

.layout-page {
    flex-grow: 1; /* Permet au contenu de remplir l'espace disponible */
}

.app-navbar-back {
    /* Styles pour positionner le composant navbar en haut de son conteneur parent */
    order: -1; /* Pour placer le composant navbar en premier dans l'ordre d'affichage */
    position: sticky;
    top: 0;
    z-index: 1000; /* Assure que le navbar reste au-dessus des autres éléments */
    background-color: #fff; /* Vous pouvez ajuster la couleur selon votre design */
    width: 100%; /* Assure que le navbar occupe toute la largeur */
}
.app-footer-back {
    /* Styles pour positionner le composant footer en bas de la page */
    position: absolute;
    bottom: 0;
}
